$current-step: #00aeef;
$state-item-color: #fff;
$cover-color: #e4e4e4;
$success-step: #43ac14;

@mixin set-step-status($statusColor, $statusSymbol, $statusWidth) {
	&::before {
		width: $statusWidth;
		background-color: $statusColor;
	}

	& > div {
		background-color: $statusColor;

		& i::before {
			content: $statusSymbol;
		}
	}
}

.steps-bar {
	$stepSize: 50px;
	position: relative;
	display: table;
	margin: ($stepSize/2) auto;
	table-layout: fixed;
	height: 4px;
	width: 630px;
	background-color: $cover-color;
	padding-left: 0px;

	.step-item {
		display: table-cell;
		position: relative;
		width: 2%;
		text-align: center;
		height: 12px;

		&::before {
			content: "";
			display: block;
			width: 0%;
			height: 100%;
		}

		& > div {
			$border-width: 8px;
			position: absolute;
			top: -($stepSize / 2);
			margin-left: -($border-width * 3);
			display: inline-block;
			width: $stepSize;
			height: $stepSize;
			border-color: #fff;
			border-style: solid;
			// border-width: 0 $border-width 0 $border-width;
			border-radius: 50%;
			line-height: $stepSize;
			text-align: center;
			font-size: 1em;
			color: $state-item-color;
		}

		&.wait {
			@include set-step-status($current-step, "\f0c3", 100%);
		}

		&.success {
			@include set-step-status($success-step, "\f00c", 100%);
		}

		&.empty {
			@include set-step-status($cover-color, "\f017", 0%);
		}
	}
}

.custom-container {
	width: 100%;
	margin: 30px auto 0 auto;
}
